/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700");

/*------------------------------------------------------------------
    IMPORT FILES
-------------------------------------------------------------------*/

@import "~prismjs/themes/prism.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/scss/font-awesome.scss";

@import "css/animate.scss";
@import "css/flaticon.scss";
@import "css/hero-slider.scss";
@import "css/modals.scss";

/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
  color: #999;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.80857;
}

a {
  color: #1f1f1f;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.section p a {
  color: #4f4fcf;
}

.section p a:hover {
  color: #0056b3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  color: #1f1f1f;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

html,
body {
  height: 100%;
}

/*------------------------------------------------------------------
    WP CORE
-------------------------------------------------------------------*/

.first {
  clear: both;
}

.last {
  margin-right: 0;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 10px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 10px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 10px 0 20px 20px;
}

a img.alignnone {
  margin: 10px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 10px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/

.header_style_01 {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 3;
}
.header_style_01 .header-nav {
  background: #ffffff;
}
.header-nav .navbar-toggler span {
  background: #ffffff;
}

.header-nav .navbar-brand {
  display: none;
}

@media only screen and (min-width: 290px) {
  .header-nav .navbar-brand {
    display: block;
  }
}

.header-nav .navbar-brand {
  color: #111111;
  font-weight: 800;
  position: relative;
  font-size: 23px;
}
.header-nav .navbar-brand span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: -9px;
  float: left;
}

.right-btn a {
  display: inline-block;
  padding: 5px 20px;
  font-size: 18px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #e65100;
  line-height: 25px;
  float: right;
  font-weight: 500;
}

.right-btn a:hover {
  background-color: #e65100;
  color: #ffffff;
  border: 1px solid #e65100;
}

/*Navbar Toogle*/
.navbar-toggler {
  background: #e65100;
  border: none;
  padding: 10px 6px;
  outline: none !important;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}
.navbar-toggler span + span {
  margin-top: 4px;
}
/**/

@media (max-width: 991px) {
  .nav-link i.fa {
    display: none;
  }
}

.header-nav .navbar-nav .nav-link {
  padding: 8px 15px;
  font-size: 16px;
  border-bottom: 3px solid #ffffff;
}

.header-nav .navbar-nav .nav-link:hover {
  background: none;
  color: #e65100;
  border-radius: 0px;
  border-bottom: 3px solid #e65100;
}

.header-nav .navbar-nav .nav-link.active {
  background: none;
  color: #e65100;
  border-radius: 0px;
  border-bottom: 3px solid #e65100;
}

.header_style_01 .navbar-brand {
  padding: 2px 15px 0 15px;
  height: auto;
}

.header_style_01 .navbar-default .navbar-nav > li > a {
  border-radius: 0;
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  background-color: transparent;
}

.header_style_01 .navbar-default .navbar-nav > li a {
  background-color: transparent !important;
}

.header_style_01 .navbar-default .navbar-nav > li:hover a,
.header_style_01 .navbar-default .navbar-nav > li:focus a {
  color: #e65100;
}

.header_style_01 .navbar-right > li {
  margin-top: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header_style_01 .navbar-right > li > a {
  padding-bottom: 10px;
  padding-top: 10px;
}

#social > div {
  overflow: initial;
}

li.social-links {
  margin: 0 8px;
  display: inline-block;
  font-size: 20px;
}

li.social-links a {
  padding: 0px 0 !important;
  color: #ffffff;
  display: inline-block;
}

li.social-links a:hover {
  color: #e65100;
}

.header_style_01.fixed-menu {
  position: fixed;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  background: #ffffff;
  z-index: 999;
  opacity: 1;
  visibility: visible;
}

.header_style_01.fixed-menu {
  padding: 15px 0px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
}

.navbar-nav li {
  position: relative;
}

.navbar-nav span {
  font-size: 24px;
  position: absolute;
  right: 2px;
  top: 13px;
}

body.app_version .header_style_01.fixed-menu {
  top: 0px;
}

/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/

.top-banner {
  background: url(../images/bg-img.jpg) bottom center no-repeat #e65100;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 30px;
}

.section:first-of-type {
  padding-top: 120px;
}

.noover {
  overflow: visible;
}

.nopad {
  padding: 0;
}

.nopadtop {
  padding-top: 0;
}

.section.wb {
  background-color: #ffffff;
}

.section.lb {
  background-color: #f2f3f5;
}

.section.db {
  background-color: #1f1f1f;
}

.section.color1 {
  background-color: #448aff;
}

.first-section {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 16em 0 13em;
}

.first-section h2 {
  color: #ffffff;
  font-size: 68px;
  font-weight: 600;
  text-transform: capitalize;
  display: block;
  margin: 0;
  padding: 0 0 30px;
  position: relative;
}

.first-section .lead {
  font-size: 21px;
  font-weight: 300;
  padding: 0 0 40px;
  margin: 0;
  line-height: inherit;
  color: #ffffff;
}

.macbookright {
  width: 980px;
  position: absolute;
  right: -15%;
  bottom: -6%;
}

.section-title {
  display: block;
  position: relative;
  margin-bottom: 60px;
}

.section-title p {
  color: #999;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  margin: 0;
}

.section-title h3 {
  font-size: 42px;
  font-weight: 600;
  line-height: 62px;
  margin: 0 0 25px;
  padding: 0;
  text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
  color: #ffffff;
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e65100;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover::before,
.hvr-bounce-to-right:focus::before,
.hvr-bounce-to-right:active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#home .fa {
  padding-right: 1ex;
}

.cd-hero__btn:hover {
  color: #ffffff;
}

.js-cd-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(230, 81, 0, 0.25);
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 0;
}

.about-right h2 {
  font-size: 32px;
  font-weight: 600;
}
.about-right p {
  font-size: 16px;
  font-weight: 300;
}

.services-inner-box {
  padding: 15px;
  background: #ffffff;
  margin-bottom: 30px;
}
.ser-icon {
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  background: #e65100;
  box-shadow: inset 0 0 0 10px rgba(51, 51, 51, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ser-icon i {
  padding-top: 20px;
  font-size: 50px;
  color: #ffffff;
}
.services-inner-box h2 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}
.services-inner-box p {
  font-size: 16px;
  font-weight: 300;
}

.services-inner-box:hover {
  box-shadow: inset 0 0 0 1px rgba(51, 51, 51, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.services-inner-box:hover .ser-icon {
  box-shadow: inset 0 0 0 1px rgba(51, 51, 51, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

/*------------------------------------------------------------------
    PORTFOLIO
-------------------------------------------------------------------*/

.item-h2,
.item-h1 {
  height: 100% !important;
  height: auto !important;
}

.isotope-item {
  z-index: 2;
  padding: 0;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.portfolio-filter ul {
  padding: 0;
  z-index: 2;
  display: block;
  position: relative;
  margin: 0;
}

.portfolio-filter ul li {
  border-radius: 0;
  display: inline-block;
  margin: 0 5px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.portfolio-filter ul li:last-child:after {
  content: "";
}

.da-thumbs {
  list-style: none;
  position: relative;
  padding: 0;
}

.da-thumbs .pitem {
  margin: 0;
  padding: 15px;
  position: relative;
}

.da-thumbs .pitem a,
.da-thumbs .pitem a img {
  display: block;
  position: relative;
}

.da-thumbs .pitem a {
  overflow: hidden;
}

.da-thumbs .pitem a div {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.da-thumbs .pitem a div h3 {
  display: block;
  color: #ffffff;
  font-size: 20px;
  padding: 30px 15px;
  text-transform: capitalize;
  font-weight: normal;
}

.da-thumbs .pitem a div h3 small {
  display: block;
  color: #ffffff;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 300;
}

.da-thumbs .pitem a div i {
  background-color: #1f1f1f;
  position: absolute;
  color: #ffffff !important;
  bottom: 0;
  font-size: 15px;
  z-index: 12;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.why-tox-special {
  position: relative;
  background: #333333;
}
.why-tox-special .title {
  padding-top: 20px;
}
.why-tox-special .col-md {
  padding: 30px 30px;
  text-align: center;
  height: 250px;
}

.why-tox-special h3 {
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.why-tox-special h2 {
  font-size: 32px;
  color: #ffffff;
}

.why-tox-special span {
  font-size: 150px;
  color: #e65100;
}

.why-tox-special img {
  width: 150px;
}

.why-tox-special p {
  color: #ffffff;
  display: none;
  vertical-align: center;
  height: 100%;
}

.why-tox-special .col-md {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.why-tox-special .col-md:hover {
  background-color: #e65100;
}

.why-tox-special .col-md:hover p {
  display: block;
}

.why-tox-special .col-md:hover span,
.why-tox-special .col-md:hover img {
  display: none;
}

/*------------------------------------------------------------------
    TESTIMONIALS
-------------------------------------------------------------------*/

.testi-carousel {
  padding: 50px 20px 35px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 115px 19px rgba(236, 236, 236, 1);
}
.testimonial .description {
  font-size: 14px;
  color: #777;
  line-height: 26px;
  text-indent: 30px;
  position: relative;
}
.testimonial .description:before {
  content: "\f10d";
  font-family: "FontAwesome";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: -15px;
}
.testimonial .title {
  font-size: 24px;
  font-weight: bold;
  color: #363636;
  text-transform: capitalize;
  margin: 0;
}
.testimonial .post {
  display: block;
  font-size: 15px;
  color: #363636;
}

#faqs {
  background-color: #e65100;
}

#faqs .section-title h3,
#faqs .section-title p {
  color: #ffffff;
}

#faqs .section-title a {
  color: #1111ff;
}

.accordion:before {
  content: "";
  width: 1px;
  height: 80%;
  background: #333333;
  position: absolute;
  top: 30px;
  left: 24px;
  bottom: 20px;
}
.accordion .card {
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 0 0 12px 50px;
  position: relative;
}
.accordion .card:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #333333;
  position: absolute;
  top: 0;
  left: -2px;
}
.accordion .card-header {
  padding: 0;
  background: #fff;
  position: relative;
}
.accordion .card-header:before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background: #e65100;
  border: 1px solid #333333;
  position: absolute;
  top: 50%;
  left: -48px;
  transform: translateY(-50%);
}
.accordion .mb-0 {
  padding: 0px;
}
.accordion .mb-0 a {
  display: block;
  padding: 15px 55px 15px 30px;
  font-size: 20px;
  font-weight: 600;
  color: #550527;
  border: none;
  margin: 0;
  position: relative;
}
.accordion .mb-0 a:before,
.accordion .mb-0 a.collapsed:before {
  content: "\f068";
  font-family: "FontAwesome";
  font-weight: 900;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: normal;
  color: #333333;
  text-align: center;
  border: 1px solid #333333;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  transition: all 0.5s ease 0s;
}
.accordion .mb-0 a.collapsed:before {
  content: "\f067";
}
.accordion .card-body {
  padding: 10px 30px 10px;
  border: none;
  font-size: 14px;
  color: #333333;
  line-height: 28px;
}

.accordion .card-body li {
  list-style-type: circle;
}

/*------------------------------------------------------------------
    ICON BOXES
-------------------------------------------------------------------*/

.icon-wrapper {
  position: relative;
  cursor: pointer;
  display: block;
  z-index: 1;
}

.icon-wrapper i {
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-size: 28px;
  background-color: #f2f3f5;
  color: #1f1f1f;
  margin-top: 0;
}

.small-icons.icon-wrapper:hover i,
.small-icons.icon-wrapper:hover i:hover,
.small-icons.icon-wrapper i {
  width: auto !important;
  height: auto !important;
  line-height: 1 !important;
  padding: 0 !important;
  color: #e3e3e3 !important;
  background-color: transparent !important;
  background: none !important;
  margin-right: 10px !important;
  vertical-align: middle;
  font-size: 24px !important;
}

.small-icons.icon-wrapper h3 {
  font-size: 18px;
  padding-bottom: 5px;
}

.small-icons.icon-wrapper p {
  padding: 0;
  margin: 0;
}

.icon-wrapper h3 {
  font-size: 21px;
  padding: 0 0 15px;
  margin: 0;
}

.icon-wrapper p {
  margin-bottom: 0;
  padding-left: 95px;
}

.icon-wrapper p small {
  display: block;
  color: #999;
  margin-top: 10px;
  text-transform: none;
  font-weight: 600;
  font-size: 16px;
}

.icon-wrapper p small:after {
  content: "\f105";
  font-family: FontAwesome;
  margin-left: 5px;
  font-size: 11px;
}

/*------------------------------------------------------------------
    DOWNLOADS
-------------------------------------------------------------------*/

#oses .lead {
  margin-top: -15px;
}

#oses .lead:first-of-type {
  margin-top: 0;
}

#oses .light {
  display: none;
}

#oses .feature:hover .light {
  display: inline-block;
}

#oses .feature:hover .dark {
  display: none;
}

#oses .feature img {
  margin-top: 10px;
}

#oses .feature {
  background: none;
  border-radius: 20px;
  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
}

#oses .feature:hover {
  background: rgba(0, 0, 0, 0.2);
}

.download-bg {
  background: url(../images/d-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}

.download-bg::before {
  content: "";
  background: rgba(230, 81, 0, 0.6);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.download-bg p a {
  color: #ffff00;
}

.download-image {
  padding-top: 30px;
}

@media only screen and (min-width: 768px) {
  .download-image {
    padding-top: 0;
  }
}

/*------------------------------------------------------------------
    FEATURES
-------------------------------------------------------------------*/

.customwidget h1 {
  font-size: 44px;
  color: #ffffff;
  padding: 15px 0 25px;
  margin: 0;
  line-height: 1 !important;
  font-weight: 500;
}

.customwidget h2 {
  color: #ffffff;
  padding: 15px 0 25px;
}

.customwidget ul {
  padding: 0;
  display: block;
  margin-bottom: 30px;
}

.customwidget li i {
  margin-right: 5px;
}

body.app_version .customwidget li i {
  color: #ffffff;
}

.customwidget li {
  color: #ffffff;
  margin-right: 10px;
}

.image-center img {
  position: relative;
  margin: 0px;
  z-index: 10;
  padding-right: 30px;
  text-align: center;
}

.customwidget p {
  font-style: normal;
  font-size: 18px;
  padding: 0 0 10px;
  font-weight: 300;
  color: #ffffff;
}

.img-center img {
  width: 100%;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
}

.img-center {
  margin: auto;
}

#features li p {
  margin-bottom: 0;
  padding-bottom: 0;
}

#features li {
  display: table;
  width: 100%;
  margin: 35px 0;
  cursor: pointer;
}

.features-left,
.features-right {
  padding: 0 10px;
}

.features-right li:last-child,
.features-left li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0 !important;
}

.features-right li i,
.features-left li i {
  width: 68px;
  height: 68px;
  line-height: 68px;
  display: table;
  border-radius: 6px;
  font-size: 26px;
  color: #ffffff;
  background-color: #e65100;
  margin: 0 auto 22px;
  position: relative;
  text-align: center;
  z-index: 55;
  transition: 0.4s;
  padding: 0;
}

#features i img {
  display: table;
  margin: 0 auto;
}

.features-left li i:before,
.features-right li i:before {
  text-align: center;
}

.features-right li i .ico-current,
.features-left li i .ico-current {
  opacity: 1;
  transition: 0.4s;
  visibility: visible;
}

.features-right li i .ico-hover,
.features-left li i .ico-hover {
  opacity: 0;
  transition: 0.4s;
  visibility: hidden;
  top: 19px;
}

.features-right li:hover .ico-current,
.features-left li:hover .ico-current {
  opacity: 0;
  transition: 0.4s;
  visibility: hidden;
}

.features-right li:hover .ico-hover,
.features-left li:hover .ico-hover {
  opacity: 1;
  transition: 0.4s;
  visibility: visible;
}

.features-right i {
  float: left;
}

.fr-inner {
  margin-left: 90px;
}

.features-left i {
  float: right;
}

.fl-inner {
  text-align: right;
  margin-right: 90px;
}

#features h4 {
  text-transform: capitalize;
  margin: 0;
  font-size: 19px;
  padding-bottom: 15px;
}

.download-icons {
  background: #333333;
  position: relative;
  display: block;
  width: 100%;
  z-index: 1;
}

.download-icons .box-icon {
  position: relative;
  top: 0px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.btn-buy {
  display: inline-block;
  background: #333333;
  transition: 0.3s linear;
  transition-property: background;
}
.btn-buy a {
  color: #ffffff;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  display: block;
  padding: 15px 40px;
}

.btn-buy a i {
  display: block;
  font-size: 32px;
}
.btn-buy a strong {
  display: block;
  font-size: 22px;
  font-weight: 600;
}

.btn-buy:hover {
  background: #e65100;
}

/*------------------------------------------------------------------
    CONTACT
-------------------------------------------------------------------*/

#contact {
  background: #333333;
}

#contact .section-title h3 {
  color: #ffffff;
}

.bootstrap-select .dropdown-toggle .filter-option {
  line-height: 30px;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
}

select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

select.mobile-device {
  position: absolute !important;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  height: 100% !important;
  opacity: 0;
}

/*# sourceMappingURL=bootstrap-select.css.map */

.bootstrap-select > .btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  font-size: 15px;
  height: 33px;
  box-shadow: none !important;
  border: 0 !important;
  padding: 0;
  width: 100%;
  color: #bcbcbc !important;
}

.contact_form {
  padding: 40px 15px;
}

.contact_form .form-control {
  background-color: transparent;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  outline: 0 none;
  padding: 5px 20px 20px 14px;
  height: 55px;
  resize: none;
  box-shadow: none !important;
  width: 100%;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ffffff;
}

.contact_form textarea {
  color: #ffffff;
  height: 160px !important;
}

.contact_form .form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.contact_form .form-control::-moz-placeholder {
  opacity: 1;
  color: #ffffff;
}

.contact_form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

#contact {
  background: url(../images/bg.png) no-repeat center center #333333;
}

.pdi {
  padding: 0px 15px;
}

.dropdown-toggle::after {
  display: none;
}

#support .section-title h3 {
  color: #ffffff;
}

.info-box {
  display: inline-block;
}

.info-box i {
  font-size: 30px;
  color: #ffffff;
}

.tooltip-inner {
  background: #e65100;
  color: #fff;
}
.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
  margin-top: -3px;
  content: "";
  border-width: 5px 5px 5px 0;
  border-bottom-color: #e65100;
}

.get-btn {
  border: none;
  padding: 10px 18px;
  background: #ffffff;
  font-size: 18px;
  color: #333333;
  cursor: pointer;
}
.get-btn:hover {
  color: #ffffff;
}

/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

.button img {
  vertical-align: bottom;
}

.do-button {
  display: inline-block;
  margin-left: 20px;
}

#footer {
  height: 100%;
  background: #414141;
  color: #dcdcdc;
}

#footer a {
  color: #f5ad1a;
}

#footer a:hover {
  color: #ffc44c;
}

#footer .cc {
  text-align: right;
  font-size: 15px;
  max-width: 350px;
  margin-bottom: 13px;
}

#footer .cc img {
  margin-top: 30px;
  margin-bottom: 5px;
}

#footer .ext-med {
  margin-top: 60px;
}

#footer .icon {
  font-size: 30px;
  margin-right: 15px;
}

@media screen and (max-width: 576px) {
  #footer .cc {
    width: 88px;
  }

  #footer .cc p {
    display: none;
  }
}

/*------------------------------------------------------------------
    BUTTONS
-------------------------------------------------------------------*/

.btn {
  border: 0 !important;
}

body.app_version .dev-list .widget-title small {
  font-size: 14px;
}

/*------------------------------------------------------------------
    Zenith Slider
-------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}
.zenith_slider:before,
.zenith_slider:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.zenith_slider:after,
.row:after {
  clear: both;
}

.zenith_slider .row {
  z-index: 2;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 31.777777%;
  margin-right: -15px;
  margin-left: -15px;
}
.zenith_slider ul {
  list-style: none;
  z-index: 2;
}

.highlight h4:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  margin: 0px;
  height: 2px;
  background: #e65100;
  visibility: hidden;
  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
}
.highlight.active h4:after {
  width: 100%;
  left: 0;
  visibility: visible;
}

.highlight span {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 10px 12px;
  background: rgba(9, 16, 26, 0.85);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    rgba(92, 92, 92, 0) 34%,
    rgba(92, 92, 92, 0.4) 24%
  );
  -moz-background-image: linear-gradient(
    0deg,
    rgba(92, 92, 92, 0) 34%,
    rgba(92, 92, 92, 0.4) 24%
  );
  -webkit-background-image: linear-gradient(
    0deg,
    rgba(92, 92, 92, 0) 34%,
    rgba(92, 92, 92, 0.4) 24%
  );
  -o-background-image: linear-gradient(
    0deg,
    rgba(92, 92, 92, 0) 34%,
    rgba(92, 92, 92, 0.4) 24%
  );
  transition: color 0.5s ease-in;
  -webkit-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
}
.highlight-title {
  text-align: center;
  text-transform: uppercase;
  width: 105%;
}

.phone-holder {
  display: block;
  height: 600px;
  position: relative;
  top: 0px;
  left: 0px;
  width: 300px;
  margin: auto;
  overflow: hidden;
}
#fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/phonebg_1.png) center top no-repeat;
  background-position-x: 0px;
  z-index: 2;
  overflow: hidden;
}
.highlights-phone.wht .phone-holder #fon {
  background: url(../images/phonebg_1.png) center top no-repeat;
  background-position-x: 0px;
}
.hgi {
  position: absolute;
  top: 58px;
  left: 12px;
  width: 270px;
  height: 448px;
  visibility: hidden;
}
.hgi img {
  width: 100%;
  height: 448px;
}
.highlights-phone.wht .hgi {
  top: 71px;
}
.hgi.active {
  visibility: visible;
}
.left-row {
  float: left;
  margin-right: 0;
}

.left-row .highlight-title span {
  right: -8px;
}
.right-row .highlight-title span {
  left: -8px;
}
.right-row .highlight-title {
  text-align: left;
}

.highlight-title span {
  position: relative;
  z-index: 1;
}
.highlight-title .fa {
  color: #fffff0;
  font-size: 40px;
  width: 64px;
  height: 64px;
  text-align: center;
  vertical-align: middle;
}
.highlight-title .fa:before {
  margin: 3px 0;
  display: block;
}
.highlight-title span {
  background: cornflowerblue;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
}
.highlight-title span:after {
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  box-shadow: inset 0 0 0 2px rgba(9, 16, 26, 0.76);
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.highlight.active .highlight-title span {
  background: crimson;
  webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}
.highlight:hover .highlight-title span:after {
  -webkit-animation: sonarEffect 1.3s ease-out 75ms;
  -moz-animation: sonarEffect 1.3s ease-out 75ms;
  animation: sonarEffect 1.3s ease-out 75ms;
}

.card:target .collapse {
  display: block;
}

.navbar-collapse.collapse:target {
  display: block;
}

/*------------------------------------------------------------------
    BLOG
-------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
  #blog-post article section {
    width: 80%;
    margin: auto;
  }
}

#blog-post article section li {
  list-style-type: circle;
  margin-left: 20px;
}
