<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: 160 }}">

  {% assign depth = page.url | append:'X' | split:'/' | size %}
  {% capture relative %}{% for i in (3..depth) %}../{% endfor %}{% endcapture %}
  <link rel="stylesheet" href="{{ relative }}static/css/main.css" media="screen">
  <link rel="stylesheet" href="{{ relative }}static/css/rust.css" media="screen">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
