<tr>
  <td><a href="https://github.com/TokTok/{{ include.name }}">{{ include.name }}</a></td>
  <td><a href="https://travis-ci.com/TokTok/{{ include.name }}"><img src="https://api.travis-ci.com/TokTok/{{ include.name }}.svg?branch=master" alt="Build Status"/></a></td>
  <td><a href="https://coveralls.io/github/TokTok/{{ include.name }}?branch=master"><img src="https://coveralls.io/repos/github/TokTok/{{ include.name }}/badge.svg?branch=master" alt="Coverage"/></a></td>
  <td><a href="https://github.com/TokTok/{{ include.name }}/issues">Issues</a></td>
  <td><a href="https://github.com/TokTok/{{ include.name }}/pulls">PRs</a></td>
</tr>
