/* --------------------------------

Hero Slider - by CodyHouse.co

-------------------------------- */
/* Main Header */
.cd-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #21272c;
}

@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
  }
}

.cd-header__logo {
  float: left;
  margin: 13px 0 0 5%;
}

.cd-header__logo img {
  display: block;
}

@media only screen and (min-width: 768px) {
  .cd-header__logo {
    margin: 23px 0 0 5%;
  }
}

/* Slider */
.cd-hero {
  position: relative;
}

.cd-hero__slider {
  position: relative;
  height: 490px;
  width: 100%;
  overflow: hidden;
}

.cd-hero__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .cd-hero__slider {
    height: 500px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-hero__slider {
    height: 780px;
  }
}

/* Slide style */
.cd-hero__slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e65100;
  background-image: url(../images/front.jpg);
}

.cd-hero__content.cd-hero__content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  /* this padding is used to align the text */
  padding-top: 100px;
  text-align: center;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content h2,
.cd-hero__content p,
.cd-hero__btn,
.cd-hero__content--img img {
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content.cd-hero__content--img {
  /* hide image on mobile device */
  display: none;
}

.cd-hero__content--img img {
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: auto;
  right: auto;
  height: 60%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-hero__content--img:nth-of-type(1) img {
  display: none;
  top: 83%;
  z-index: -1;
  left: 30%;
  height: 30%;
}

@media only screen and (min-width: 1170px) and (min-height: 580px) {
  .cd-hero__content--img:nth-of-type(1) img {
    display: block;
  }
}

.cd-hero__content h2,
.cd-hero__content p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 90%;
  max-width: 400px;
  font-weight: 300;
}

.cd-hero__content h2 {
  font-size: 38px;
  padding: 0px;
}

.cd-hero__content p {
  font-size: 22px;
  line-height: 1.4;
}

.cd-hero__btn {
  display: inline-block;
  padding: 10px 18px;
  margin-top: 20px;
  background-color: #333333;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 34px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-hero__btn.cd-hero__btn--secondary {
  background-color: #333333;
}

.cd-hero__btn:nth-of-type(2) {
  margin-left: 1em;
}

.cd-hero__btn.cd-hero__btn--secondary:hover {
  background-color: #161a1e;
}

.cd-hero__content.cd-hero__content {
  padding-top: 120px;
}

@media only screen and (min-width: 768px) {
  .cd-hero__content.cd-hero__content {
    padding-top: 150px;
  }
  .cd-hero__content.cd-hero__content {
    width: 50%;
  }
  .cd-hero__content.cd-hero__content:first-of-type {
    left: 5%;
  }
  .cd-hero__content.cd-hero__content:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero__content.cd-hero__content--img {
    display: block;
  }
  .cd-hero__content h2,
  .cd-hero__content p {
    max-width: 520px;
  }
  .cd-hero__content h2 {
    font-size: 2.4em;
    font-weight: 500;
  }
  .cd-hero__btn {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-hero__content.cd-hero__content {
    padding-top: 220px;
  }
  .cd-hero__content h2,
  .cd-hero__content p {
    margin-bottom: 20px;
  }
  .cd-hero__content h2 {
    font-size: 2.2em;
  }
  .cd-hero__content p {
    font-size: 1.6rem;
  }
}
