/******************************************
    Version: 1.0
/****************************************** */

@media (max-width: 1310px) {
}

@media (max-width: 1200px) {
  .header_style_01 .navbar-brand {
    padding-right: 0;
  }
  .container-fluid {
    width: 100%;
    padding: 0 15px;
  }

  .first-section h2 {
    font-size: 48px;
  }
}

@media (max-width: 1158px) {
  .header_style_01 .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }
  .first-section .lead {
    font-size: 18px;
  }
  .navbar-default .btn-light {
    display: none;
  }
}

@media (max-width: 1120px) {
  .iphones {
    right: -30%;
  }
  .macbookright {
    bottom: -10%;
    right: -35%;
  }
  .how-its-work .hc {
    width: 50% !important;
  }
}

@media (max-width: 992px) {
  .m40 {
    margin-top: 40px;
  }
  .apple-button i {
    font-size: 32px;
    margin: 0px 20px 0 0;
    vertical-align: middle;
  }
  .apple-button strong {
    font-size: 24px;
  }
  body.app_version .header_style_01 {
    top: 0px;
  }
  .pricing-table {
    margin: 15px 0 !important;
  }
  hr.hr2 {
    display: none;
  }
  .stat-wrap .col-md-3,
  .icon-wrapper,
  .message-box {
    margin-bottom: 30px;
  }
  .owl-prev i {
    left: 0;
    border-radius: 0;
  }
  .owl-next i {
    right: 0;
    border-radius: 0;
  }
}

@media (max-width: 1000px) {
  .footer .col-xs-12 {
    margin: 15px 0;
    width: 100% !important;
  }
  .navbar-default .btn-light {
    display: block;
    width: 100%;
    border: 0 !important;
    padding: 0 !important;
    margin: -8px -2px 0 !important;
    line-height: 1 !important;
  }
  .navbar-collapse {
    margin-top: 15px;
  }
  .header_style_01 {
    background-color: #ffffff;
    display: block;
    left: 0;
    padding: 20px 0px !important;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 111;
  }
  .navbar-default .navbar-toggle {
    border-color: #1f1f1f;
    color: #fff !important;
    background-color: #1f1f1f !important;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .affix-top {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    top: 0 !important;
  }
  .header_style_01 .navbar-default .navbar-nav > li a {
    padding: 10px 5px;
  }
  .first-section .col-md-6 {
    width: 100%;
    text-align: center;
  }
  .footer-distributed form input {
    width: 300px;
  }
  .footer-distributed {
    padding: 30px;
  }
  .footer-distributed .footer-company-name {
    margin-top: 10px;
    font-size: 16px;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 100%;
    margin: 0 auto;
  }
  .footer-distributed .footer-left {
    margin-bottom: 20px;
  }
  .footer-distributed form input {
    width: 100%;
  }
  .header_style_01 .navbar {
    padding: 0px 10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  body.app_version .dev-list .widget {
    padding: 20px 15px;
    margin-bottom: 30px;
  }
  .pricing-table-text {
    margin: 15px 10px 0 10px;
  }
  .pricing-table-features {
    margin: 15px 10px 0 10px;
  }

  body.app_version .apple-button {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px 0px;
  }
  body.app_version .apple-button strong {
    font-size: 22px;
  }
  body.app_version .apple-button i {
    font-size: 45px;
  }
  body.app_version .apple-button i {
    margin: 0px 10px;
  }
  .first-section {
    padding: 60px 0px;
  }
  body.app_version .app_iphone_01 {
    width: 500px;
  }
  body.app_version .app_iphone_02 {
    width: 500px;
  }
  .first-section h2 {
    font-size: 48px;
  }
  .btn-light {
    padding: 12px 20px;
  }

  .phone-holder {
    width: 225px;
  }
  .hgi {
    width: 220px;
    height: 354px;
  }
  .hgi img {
    height: 354px;
  }
  .highlights-phone.wht .phone-holder #fon {
    background-size: contain;
  }

  .move {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  body.app_version .iphones {
    right: 0px;
    bottom: 0px;
    width: 50%;
    max-width: 100%;
  }
  .image-center img {
    margin: 0px;
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .how-its-work .hc {
    width: 100% !important;
  }
  .affix,
  .header_style_01 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .m130 {
    margin-top: 0;
  }
  .footer .widget,
  .logos .col-md-2,
  .service-widget {
    margin: 15px 0;
  }
  .features-left i {
    float: left;
    margin-right: 20px !important;
  }
  .fl-inner {
    text-align: left;
    margin-right: 0;
  }
  .effect-1:after {
    border: 0 !important;
    box-shadow: none !important;
  }
  .first-section {
    padding: 60px 0px;
  }
  .first-section h2 {
    font-size: 32px;
  }
  .btn-light {
    padding: 10px 15px;
  }
  .move {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  body.app_version .iphones {
    right: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .image-center img {
    margin: 0px;
    padding: 0px;
  }
  .pricing-table-text {
    margin: 15px 10px 0 10px;
  }
  .pricing-table-features {
    margin: 15px 10px 0 10px;
  }

  body.app_version .apple-button {
    font-size: 18px;
    margin-bottom: 20px;
  }
  body.app_version .apple-button strong {
    font-size: 22px;
  }
  body.app_version .apple-button i {
    font-size: 45px;
  }
  body.app_version .apple-button i {
    margin: 0px 10px;
  }
  body.app_version .app_iphone_01 {
    display: none;
  }
  body.app_version .app_iphone_02 {
    display: none;
  }
  .cd-hero__content.cd-hero__content--full-width,
  .cd-hero__content.cd-hero__content--half-width {
    padding-bottom: 100px;
  }
}

@media (max-width: 600px) {
  .copyrights {
    padding: 40px 10px;
  }
  .footer-distributed {
    padding: 0;
  }
  .section-title p {
    font-size: 14px;
    line-height: 25px;
  }
  .section-title h3 {
    font-size: 24px;
  }
  .portfolio-filter ul li .btn-dark {
    border: 0 !important;
    width: 100%;
    display: block;
    background-color: #ffffff;
    border-radius: 0;
  }
  .portfolio-filter ul li {
    border-radius: 0;
    padding: 1px;
    display: inline-block;
    margin: 0 1px 2px 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ededed;
    vertical-align: middle;
    width: 49%;
    float: left;
    border: 0 solid #ededed;
  }
  .section {
    padding: 70px 0px;
  }
  body.app_version .app_iphone_01 {
    display: none;
  }
  body.app_version .app_iphone_02 {
    display: none;
  }
  #features h4 {
    font-size: 15px;
  }
  .phone-holder {
    width: 245px;
  }
  .hgi {
    width: 220px;
    height: 354px;
  }
  .hgi img {
    height: 354px;
  }
  .highlights-phone.wht .phone-holder #fon {
    background-size: contain;
  }
  .left-soi {
    text-align: center;
  }
  .right-btn {
    text-align: center;
  }
  .right-btn a {
    float: none;
  }
  .move {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  body.app_version .iphones {
    right: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  .image-center img {
    margin: 0px;
    padding: 0px;
  }
  .pricing-table-text {
    margin: 15px 10px 0 10px;
  }
  .pricing-table-features {
    margin: 15px 10px 0 10px;
  }
  .desc {
    padding: 30px 15px;
  }
  body.app_version .apple-button {
    font-size: 18px;
    margin-bottom: 0px;
    width: 100%;
  }
  body.app_version .apple-button strong {
    font-size: 22px;
  }
  body.app_version .apple-button i {
    font-size: 45px;
  }
  body.app_version .apple-button i {
    margin: 0px 10px;
  }
  .cac h3 {
    padding: 0px 10px;
  }
  .footer {
    padding: 60px 0 40px !important;
  }
  .copyrights {
    padding: 30px 0px;
  }
  .cd-hero__content h2 {
    font-size: 22px;
    font-weight: 400;
  }
  .cd-hero__btn {
    font-size: 14px;
  }
  .about-left,
  .about-right {
    margin-bottom: 30px;
  }
}
