html {
  background-color: #eee;
}

body {
  background-color: #fff;
  box-shadow: 0 0 3px #888888;
}

#content {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

h1 {
  color: #38761d;
}

h2.subtitle {
  color: #666;
  font-size: 17px;
  border: none;
}

h2, h3, h4, h5, h6 {
  color: black;
}

@media (min-width: 1050px) {
  #sidemenu {
    background-color: #fff;
    box-shadow: 0 0 3px #888888;
    position: fixed;
    top: 1ex;
    left: 1ex;
    padding: 1em;
  }
}

#sidemenu > ul {
  margin: 0;
  padding: 0;
}

#sidemenu li.current a {
  color: black;
}

figure {
  margin-left: 0;
}

.kw, .ot {
  color: blue;
}

.dt {
  color: brown;
}

tr.packet-row:nth-child(odd) {
  background: #eee;
}

.pr-table {
  width: 100%;
}

.pr-table th {
  font-size: .9em;
}

/* I don't like this. */
.pr-table td { padding: .3em; font-size: .8em; }
.pr-table td:nth-child(1) { width: 2.5em; text-align: center; }
.pr-table td:nth-child(2) { width: 10em; word-break: break-all; }
.pr-table td:nth-child(3) { width: 32em; }
.pr-table td:nth-child(4) { width: 4em; text-align: center; }
.pr-table td:nth-child(5) { width: 10em; word-break: break-all; }

/* Tooltip container */
.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: collapse;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
